[Unit]
Description=Monero Full Node
After=network.target

[Service]
User=monero
Group=monero
WorkingDirectory=~
RuntimeDirectory=monero

Type=forking
PIDFile=/run/halykcoind/halykcoind.pid

ExecStart=/usr/bin/halykcoind --config-file /etc/halykcoind.conf \
    --detach --pidfile /run/halykcoind/halykcoind.pid

[Install]
WantedBy=multi-user.target
